@import "../../../index.scss";

.main {
  margin-top: 58px;
  position: relative;
  max-width: 1440px;
}
.outlet{
  width: 88%;
  display: inline-block;
  border-left: 1px solid gray;
  min-height: 100vh;}

.subheader_container{
  width: 12%;
  position: relative;
  display: inline-block;
}