@import '../../../../../index.scss';

.container{
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: $primary;
    border-radius: 0px 0px 10px 10px;
    color: $black;
    padding: 2% 0% 2% 2%;

    .tagName{
        border: 1px solid $primary;
        border-radius: 5px;
        padding: 5px;
    }

    .tagCon{
        display: flex;
    }
}