@import '../../../../../index.scss';

.container{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: $black;
    border-radius: 0px 0px 10px 10px;
    color: $primary;
    padding: 2% 0% 2% 2%;

    .tagName{
        display: flex;
        justify-content: space-between;
        width: fit-content;
        align-items: center;
        border: 1px solid $primary;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
    }
}