@import '../../index.scss';


// Login Input Styling
.questionInput{
    padding: 2%;
    border: 1px solid rgb(199, 199, 199);
    font-size: $headingp;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    transition: 0.2s ease-in-out;
    height: 10%;

    &:focus{
        outline: none;
        border: 1px solid $primary;
    }
}

.questionError{
    padding: 2%;
    border: 1px solid $error;
    font-size: $headingp;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    transition: 0.2s ease-in-out;
    height: 10%;
    color: $error;

    &:focus{
        outline: none;
        border: 1px solid $error;
    }
}

.imgUpload{
    width: 20%;
    padding: 1%;
    margin-bottom: 2%;
}

.searchFilter{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(199, 199, 199);

    &:focus{
        outline: none;
        border: 1px solid $primary;
    }
}