@import '../../index.scss';


// Login Input Styling
.questionInput{
    padding: 2%;
    border: 1px solid rgb(199, 199, 199);
    font-size: $headingp;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    transition: 0.2s ease-in-out;
    height: 10%;

    &:focus{
        outline: none;
        border: 1px solid $primary;
    }
}

.questionError{
    padding: 2%;
    border: 1px solid $error;
    font-size: $headingp;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    transition: 0.2s ease-in-out;
    height: 10%;
    color: $error;

    &:focus{
        outline: none;
        border: 1px solid $error;
    }
}

.imgUpload{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 30vh;
    margin: 1% 0% 3% 0%;
    background-color: transparent;
    border-radius: 5px;

    &[type="file"]{
        color:transparent;
        outline: none;
    }
    &::file-selector-button{
        color: $white;
        padding: 20px;
        border-radius: 5px;
        outline: none;
        border: none;
        background-color: $primary;
    }

    &:hover{
        cursor: pointer;
    }
}

.searchFilter{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(199, 199, 199);

    &:focus{
        outline: none;
        border: 1px solid $primary;
    }
}