@import "../../../../index.scss";

.user_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  margin-left: auto;
  height: 100%;
  margin-left: 100px;
}

.user_buttons a {
  margin: 0;
  margin-right: 20px;
}

.notification_badge {
  position: relative;
  font-size: 20px;
  width: 30px;
  height: 20px;
  margin-right: 30px;
  cursor: pointer;
}

.notification_badge p {
  background-color: $primary;
  padding: 2px;
  position: absolute;
  top: -8px;
  right: -10px;
  font-size: 14px;
  border-radius: 100px;
  color: white;
  text-align: center;
}

.user_icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.user_img {
  width: 30px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100px;
  margin-right: 10px;
}


.user_buttons h5{
  margin-right: 20px;
}