@import "../../../../index.scss";

.user_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  margin-left: auto;
  height: 100%;
}

.notification_badge {
  position: relative;
  font-size: 20px;
  margin-right: 25px;
  width: 30px;
  cursor: pointer;
}

.user_icon ion-icon{
    font-size: 18px;
}

.user_icon:hover ion-icon{
    color: $primary;
}

.user_icon {
  margin-left: 0px !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.user_icon img {
  width: 30px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100px;
}

.notification_badge p {
  background-color: $primary;
  padding: 2px;
  position: absolute;
  top: -8px;
  right: -10px;
  font-size: 14px;
  border-radius: 100px;
  color: white;
}

.user_buttons a{
    margin-left: 10px !important;
}

.admin_button{
    margin-right: 10px;
}
