@import '../../../index.scss';

.settings_background{
    background-position: center;
    background-size: cover;
    height: calc(100vh);
    opacity: 0.8;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 7px ), repeating-linear-gradient($secondary-shadow, $primary); //wavy but customizzed
    position: relative;
  } 

.settings_form_container{
    position: relative;
    width: 650px;
    height: 67vh;
    margin: 0 auto;
    top: 21vh;
}

.settings_box{
    display: inline-block;
    height: 100%;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 18px 100px 0px;
}

.inputs_container{
    // overflow: hidden;
    padding: 30px;
    width: 100%;
  }
  
  .inputs_container h4{
    text-align: center;
    font-size: 10px;
  }

  .form_logo{
    width: 150px;
    height: auto;
  }

.profile_icon{
    width: 130px;
    height: 130px;
    // margin: 0 auto;
    // margin-left: 170px;
    margin-top: 23px;
    border-radius: 130px;
}

// h4{
//   font-size: 50px;
// }

.labels_container{
  position: relative;
  width: 20vw;
  height: 20vh;

  margin: auto;
  top: -130px;
}


.username_label{
  position: absolute;
}

.email_label{
  top: 40%;
  width: 100%;
}

.achieve_container{
  position: relative;
  width: 130px;
  height: 130px; 
  margin: auto;
  left: 16vw;
  top:-30vh;
  background: #2b2b2b;
}

.input_container{
  position: absolute;
  top: 15%;
}