@import "../../../../index.scss";

.container {
  width: 100%;
  display: flex;
  flex-flow: column;

  .pageContent {
    padding: 5% 20%;
    display: flex;
    flex-flow: column;
    justify-content: center;

    label {
      margin-top: 3%;
    }

    img {
      margin-bottom: 3%;
    }

    .pageContent__flexCenter {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }

    .questionText {
      padding: 2%;
      border: 1px solid rgb(199, 199, 199);
      font-size: $headingp;
      background-color: white;
      border-radius: 5px;
      width: 100%;
      transition: 0.2s ease-in-out;
      height: 30vh;
      margin-bottom: 3%;

      &:focus {
        outline: none;
        border: 1px solid $primary;
      }
    }

    hr {
      margin: 2% 0%;
      border-top: 1px solid rgb(199, 199, 199);
    }

    .error {
      color: $error;
      margin-bottom: 3%;
    }

    .questionError {
      padding: 2%;
      border: 1px solid $error;
      font-size: $headingp;
      background-color: white;
      border-radius: 5px;
      width: 100%;
      transition: 0.2s ease-in-out;
      height: 70%;
      color: $error;

      &:focus {
        outline: none;
        border: 1px solid $error;
      }
    }

    .code {
      height: 100%;
    }

    .screenshot {
      width: 100%;
      height: auto;
      object-fit: contain;
      background-size: contain;
    }

    select {
      border-radius: 5px;
      border: 1px solid rgb(199, 199, 199);
      color: $black;
      padding: 20px;
    }
  }
}


