@import "../../../../../index.scss";

.container {
  display: flex;

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
  }

  nav a{
    background-color: rgb(226, 226, 226);
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    cursor: pointer;
  }

  .selected {
    transition: 0.1s linear;
    color: $primary;
    text-decoration: underline;
  }

  h5 {
    transition: 0.1s linear;
    margin-right: 40px;

    &:hover {
      cursor: pointer;
      color: $primary;
      // transform: scale(1.1);
    }
  }
}
