@import "../../../../../index.scss";

.container {
  display: flex;

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
  }

  nav a{
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    cursor: pointer;
    color: black;
  }

  .selected {
    transition: 0.1s linear;
    background-color: $primary;
    color: white;
  }
}
