@import '../../index.scss';

.questionSubmit{
    background-color: $primary;
    font-size: $headingp;
    color: $white;
    padding: 20px;
    border-radius: 10px;
    border: none;
    width: 25%;
    transition: 0.2s ease-in-out;
    margin: 2% 0%;
}

.report{
    background-color: transparent;
    font-size: $headingp;
    color: rgba(200, 200, 200);
    border-radius: 10px;
    width: 100%;
    margin: 2% 0%;
    box-shadow: none;
    text-underline-offset: 2px;

    &:hover{
        color: $error;
        cursor: pointer;
        text-decoration: underline;
    }
}