@import '../../../index.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    padding: 0;
    margin: 0;
}

// .register_main_container{
//     position: relative;
//     width: 1440px;
//     height: 1024px;
//     background: #FFFFFF;
// }

.register_container{
    position: relative;
    width: 1204px;
    height: 780px;
    left: 118px;
    top: 3px;
}

.register_left{
    position: absolute;
    width: 602px;
    height: 780px;
    background: #E4E4E4;
    border-radius: 15px 0px 0px 15px;
}

.register_right{
    position: absolute;
    width: 602px;
    height: 780px;
    left: 602px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0px 15px 15px 0px;
}

.register_logo{
    position: absolute;
    width: 180.58px;
    height: 50.43px;
    background: #2b2b2b;
    left: 138px;
    top: 129px;
}

.register_create_text{
    position: absolute;
    width: 291px;
    height: 40px;
    top: 211px;
    left: 151px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 33px;
    color: #000000;
}

.register_already_text{
    position: absolute;
    width: 119px;
    height: 16px;
    top: 264px;
    left: 151px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}

.register_signin_link{
    position: absolute;
    width: 42px;
    height: 16px;
    left: 273px;
    top: 264px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #F7CB3F;
}

.register_signin_link:hover{
    color: #84D5DE;
}

.register_student_number_input{
    box-sizing: border-box;
    position: absolute;
    width: 315px;
    height: 38px;
    left: 151px;
    top: 332px;
    border: 1px solid #000000;
    border-radius: 9px;
}

.register_username_input{
    box-sizing: border-box;
    position: absolute;
    width: 315px;
    height: 38px;
    left: 151px;
    top: 421px;
    border: 1px solid #000000;
    border-radius: 9px;   
}

.register_email_input{
    box-sizing: border-box;
    position: absolute;
    width: 315px;
    height: 38px;
    left: 151px;
    top: 497px;
    border: 1px solid #000000;
    border-radius: 9px;   
}

.register_password_input{
    box-sizing: border-box;
    position: absolute;
    width: 315px;
    height: 38px;
    left: 151px;
    top: 573px;
    border: 1px solid #000000;
    border-radius: 9px;  
}

.register_confirm_password_input{
    box-sizing: border-box;
    position: absolute;
    width: 315px;
    height: 38px;
    left: 151px;
    top: 649px;
    border: 1px solid #000000;
    border-radius: 9px;
}

.register_create_account_btn{
    position: absolute;
    width: 301px;
    height: 39px;
    left: 158px;
    top: 712px;
    color: #FFFFFF;
    border-style: none;
    background: #FCA62B;
    border-radius: 9px;
}

.register_create_account_btn:hover{
    background: #F7CB3F;
}