

.call_to_action_card{
    max-width: 440px;
    text-align: center;
    position: relative;
}

.join_community_card div{
    box-shadow: none;
    border-radius: 10px 10px 0px 10px;
}

.join_community_card ion-icon{
    font-size: 40px;
    font-weight: 100;
}
.join_community_card h4{
    padding: 20px;
}

.join_community_card button{
    width: 80%;
    margin-bottom: 20px;
}

.join_community_card h5,
.join_community_card a{
    display: inline-block;
    margin-bottom: 20px;
}

.join_community_card a{
    text-decoration: underline solid 1px black;
    text-underline-offset: 4px;
    cursor: pointer;
}

.card_shaper{
    height: 30px;
    width: 40px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    right: 0;
    bottom: -30px;
    border-radius: 0px 0px 10px 0px ;
    // transform: skewX(45deg);
}

.card_shaper_negative{
    height: 30px;
    width: 40px;
    position: absolute;
    background-color: rgb(58, 58, 58);
    right: 25px;
    bottom: -30px;
    z-index: 1;
    // border-radius: 0px 0px 10px 0px ;
    transform: skewX(45deg);
}