@import "../../../index.scss";

.joinCon {
  width: 100%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%),
    0 1px 5px rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  padding: 50px;
  div {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    a {
      margin: auto;
      margin-top: auto;
      margin-bottom: 20px;
      box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
      box-sizing: border-box;
      width: 200px;
      padding: 0.5rem 0;
      border: none;
      color: white;
      background-color: $primary;
      cursor: pointer;
      font-size: 18px;
      border-radius: 8px;
      &:hover{
        background-color: #F7CB3F;
      }
    }
  }
  img {
    width: 400px;
    height: 400px;
    margin-left: auto;
  }

  h2 {
    margin-bottom: 50px;
  }
}

.video_card{
    margin-top: 40px;
    display: flex;
    padding: 20px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%),
    0 1px 5px rgb(0 0 0 / 12%);
    border-radius: 10px;
    div{
        flex: 1;
    }
    iframe{
        height: 400px;
        aspect-ratio: 16/9;
    }
}