@import '../../../index.scss'; 

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;

  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 18px;
    color: #212121;
    padding: 7px 5px;
    background: transparent;
    transition: border-color 0.2s;
    background-color: rgb(250, 250, 250);
    margin-top: 10px;
  }

  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 20px;
    cursor: text;
    top: 30px;
  }
  
  label,
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 18px;
    color: #9b9b9b;
  }
  
  .form__field:focus ~ .form__label {
    color: $primary;
  }
  
  .form__label{
    font-size: 16px;
    margin-left: 5px;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid $primary;
  }

}
