@import '../../../index.scss';

.achievementImg{
  background-image: url(https://img.freepik.com/free-vector/golden-cup-with-arrow-hitting-target-center_3446-458.jpg?size=338&ext=jpg&ga=GA1.2.1061594338.1663777671);
  background-size: 100%;

  width: 100px;
}