.mainActiveCon{
    width: 50vh;
    margin-top: 14vh;
    margin-right: 5vw;
    padding-bottom: 2vh;
    background-color: #F7F7F7;
    border-radius: 10px;
    float: right;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 1px 5px rgb(0 0 0 / 12%);
}

.activeTitle{
    margin-left: 3%;
    margin-top: 2%;
}

.activeCon{
    width: 95%;
    margin-left: 3%;
    margin-top: 4%;
    float: left;
}

.activeIMG{
    width: 7vw;
    float: left;
    border-radius: 10px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 1px 5px rgb(0 0 0 / 12%);
}

.activeText{
    margin-top: 7%;
    margin-left: 3%;
    color: #0084FF;
    float: left;
}