@import "../../../index.scss";

.group {
  position: relative;
  margin-top: 26px;
}
.group input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  // margin-top: 10px;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #757575;
}
.group input:focus {
  outline: none;
}

/* LABEL ======================================= */
.group label {
  color: rgb(121, 121, 121);
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.group input:focus ~ label,
.group input:valid ~ label {
  top: -12px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #fca62b;
}

// .group input:valid ~ label{
//   color: #7a7a7a;
// }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: -1px;
  position: absolute;
  background: #fca62b;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.group input:focus ~ .bar:before,
.group input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.group input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

.icon_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 10px;
}

.icon{
  font-size: 24px;
  margin-left: 10px;
}

.true{
  color: #FCA62B;
}

.false{
  color: $error;
}

.icon_password{
  font-size: 20px;
  cursor: pointer;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from {
    background: #fca62b;
  }
  to {
    width: 0;
    background: transparent;
  }
}
