button {
  width: 100%;
  font: inherit;
  padding: 0.5rem 0;
  border: #d31313 1px solid;
  color: white;
  background-color: #ee0c0c21;
  /* transform: rotateY(0deg) rotate(-45deg); */
  bottom: 1px;
  /* box-shadow: 0 0 7px #f00, 0 0 10px #f00, 0 0 21px #f00; */
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.26); */
  cursor: pointer;
  letter-spacing: 0.05rem;
  font-size: 18px;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background-color: #ee0c0c75;
  box-shadow: 0 0 7px rgb(194, 17, 17), 0 0 10px rgb(194, 17, 17), 0 0 21px rgb(194, 17, 17);
}

.button:hover ion-icon {
  color: white;
}
