@import "../../../index.scss";

.section {
  margin-top: 54px;
}

.col {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

.questions_list header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  margin-top: 50px;
  margin-left: 20px;
}

.questions_list header a {
  margin-left: auto;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  box-sizing: border-box;
  padding: 0.5rem 20px;
  border: none;
  color: white;
  background-color: $primary;
  cursor: pointer;
  font-size: 15px;
  border-radius: 8px;
}

.questions_list {
  width: 60%;
  height: 2000px;
  border-left: 1px solid rgb(185, 185, 185);
}

.questions_filter_header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.questions_filter_header table {
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #666; /* this draws the table border  */
  margin-left: auto;
}

.questions_filter_header th{
  border: 1px solid #666;
}

.questions_filter_header a {
  font-size: 13px;
  cursor: pointer;
  height: 10px;
  margin: 20px;
}

// .questions_filter_header a:hover{
//   background-color: rgb(201, 201, 201);
// }

.questions_filter_header h4 {
  margin-left: 20px;
}

.questions_filter {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}

.questions_filter a {
  padding: 5px;
}
