.results_page{
    height: 100vh;
}

.titleCon{
    float: left;
    width: 65vw;
    margin-left: 5vw;
    margin-top: 3vh;
    padding-bottom: 1.5vh;
    border-bottom-style: solid;
    border-width: .25vh;
}

.title{
    float: left;
    margin-bottom: 1vh;
    margin-left: 1.5vw;
}

.results{
    float: left;
    margin-left: 1.5vw;
}